@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400");

body{
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
}

.App {
  text-align: center;
}

.App-body {
  background-color: #95ab71;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.NavBar {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(60, 63, 89);
  flex-wrap: wrap;
}

.ItemListContainer {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-around;
  background-color: rgb(65, 104, 154);
  font-size: calc(10px + 2vmin);
  flex-wrap: wrap;
}

.button {
  width: 100px;
  height: 40px;
}

.LogoCrypto {
  width: 40px;
  height: 40px;
}

.Card {
  height:350px;
  width: 220px;
  margin: 20px 0px;
  border-radius:10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  background-color:rgb(63, 68, 125);
  box-shadow: 3px 3px 10px black;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.Contador {
  display: inline-block;
  background-color: rgb(135, 108, 123);
  border: 2px solid #2706e3;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.detalle-producto {
  display: inline-block;
  margin: 20px;
  background-color:rgb(92, 40, 129);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  align-content: center;
  box-shadow: 3px 3px 10px black;
}

.Contador-general {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.detalle-producto-titulos{
  text-align:end;
}

.titulo{
  display: inline-block;
  margin: 5px;
  width: auto;
  background-color:rgb(92, 40, 129);
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  align-content: center;
  text-align: center;
}

.coingecko{
  padding: 10px;
  margin-bottom: 40px;
  background-color:rgb(86, 145, 61);
  border-radius: 10px;
  text-align: center;
  justify-content: center;
}